.header {
  background-color: rgb(233, 233, 233);
}
.mainLogo {
  height: 80px;
  width: 170px;
}
.menuIcon {
  font-size: 30px;
}
.menuListContainer {
  top: 62px;
  left: 240px;
  border-radius: 5px;
}
.list-items {
  padding-right: 10px;
  padding-top: 10px;
}
.menuList {
  list-style: none;
  color: white;
}
